ionic-feedback-viewer-modal {
    ion-select {
        width: 100%;
        max-width: 100%;
        // padding-left: 8px !important;
    }
    .select-ios {
        padding-left: 0;
    }
    .screenshot {
        width: 66%;
        display: block;
        margin: auto;
        border-color: color($colors, primary);
        border-style: solid;
        border-width: medium;
    }
    * [item-right] {
        white-space: pre;
        overflow-x: scroll;
    }
    ion-card-header {
        padding: 0 !important;
        ion-item {
            font-weight: bold !important;
            background-color: color($colors, light) !important;
        }
    }
    ion-card {
        .item-ios {
            padding-left: 8px;
        }
    }
}